@page
@using BleakwindBuffet.Data
@using BleakwindBuffet.Data.Entree
@using System.Security.Cryptography
@using BleakwindBuffet.Data.Drinks
@using BleakwindBuffet.Data.Enums
@using BleakwindBuffet.Data.Sides
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bleakwind Buffet</h1>
    <p>
        We at Bleakwind Buffet are proud to bring you authentic
        fantasy meals straight from the world of Skyrim.
        Shake the blood off your sword and sake your thirst with one of our
        old-fashioned sailor sodas. Hack into a Smokehouse Skeleton
        with your dagger. Or vanquish the the mighty Thalmor Triple Burger!
        You’ve had a hard adventure and earned your loot, so spend it with us!.
    </p>
</div>

<form class="search">
    <input type="text" id="search" name="SearchItem" value="@Model.SearchTerms"/>
    <input type="submit" value="Search"/>

    <h3>Menu Category</h3>
    <div class=" filter-category">
        <label>
            <input type="checkbox" name="category" value="Entree" checked="true"/>
            Entree
        </label>
        <label>
            <input type="checkbox" name="category" value="Side" checked="true"/>
            Side
        </label>
        <label>
            <input type="checkbox" name="category" value="Drink" checked="true"/>
            Drink
        </label>
    </div>
    <h3>Price</h3>
    <div class="filter-price">
        <label>
            Min
            <input type="number" id="minimum-price" name="PriceMin" min="0" max="8.30" step=".1" placeholder="0"/>
        </label>
        <label>
            Max
            <input type="number" id="maximum-price" name="PriceMax" min="0" max="10" step=".1" placeholder="10"/>
        </label>
        <h3>Calories</h3>
        <div class="filter-calories">
            <label>
                Min
                <input type="number" id="minimum-price" name="CalMin" min="0" max="981" step="1" placeholder="0"/>
            </label>
            <label>
                Max
                <input type="number" id="maximum-price" name="CalMax" min="0" max="1000" step="1" placeholder="1000"/>
            </label>
        </div>
    </div>
</form>
<h2>Combo</h2>
<div class="menu-items-combo">
    <p>Any entree, side, and drink can be combined into a Combo for a $1 discount</p>
</div>
<div class="menu-items">
    <h2 class="type"> Entrees</h2>
    <div class="m">
        @foreach (var entree in Model.OrderItems)
        {
            if (entree is Entree)
            {
                <div class="card menu-item-entrees">
                    <div class="name-base ">
                        <p class="name">@entree.ToString()</p>
                    </div>
                    <div class="content">
                        <p>@entree.Description</p>
                        <p>Price: $@entree.Price</p>
                        <p>Calories: @entree.Calories</p>
                    </div>

                </div>
            }
        }
    </div>
    <br/>
    <br/>
    <h2 class="type">Sides</h2>
    <div class="m">
        @foreach (var side in Model.OrderItems)
        {
            if (side is Side)
            {
                <div class="card menu-item-sides">
                    <div class="name-base ">
                        <p class="name">@side.ToString()</p>
                    </div>
                    <div class="content">
                        <p>@side.Description</p>
                        <p>Price: $@side.Price</p>
                        <p>Calories: @side.Calories</p>
                    </div>

                </div>
            }
        }
    </div>
    <br/>
    <br/>
    <h2 class="type">Drinks</h2>
    <div class="m">
        @foreach (var drink in Model.OrderItems)
        {
            if (drink is Drink)
            {
                <div class="card menu-item-drinks">
                    <div class="name-base ">
                        <p class="name">@drink.ToString()</p>
                    </div>
                    <div class="content">
                        <p>@drink.Description</p>
                        <p>Price: $@drink.Price</p>
                        <p>Calories: @drink.Calories</p>
                    </div>

                </div>
            }
        }
    </div>

    <br/>
    <br/>
</div>