@page
@using BleakwindBuffet.Data
@using BleakwindBuffet.Data.Entree
@using System.Security.Cryptography
@using BleakwindBuffet.Data.Drinks
@using BleakwindBuffet.Data.Enums
@using BleakwindBuffet.Data.Sides
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bleakwind Buffet</h1>
    <p>
        We at Bleakwind Buffet are proud to bring you authentic
        fantasy meals straight from the world of Skyrim.
        Shake the blood off your sword and sake your thirst with one of our
        old-fashioned sailor sodas. Hack into a Smokehouse Skeleton
        with your dagger. Or vanquish the the mighty Thalmor Triple Burger!
        You’ve had a hard adventure and earned your loot, so spend it with us!.
    </p>
</div>

<form class="search">
    <input type="text" id="search" name="SearchItem" value="@Model.SearchTerms"/>
    <input type="submit" value="Search"/>

    <h3>Menu Category</h3>
    <div class="filter-category">
        <label>
            <input type="checkbox" name="category" value="Entree"/>
            Entree
        </label>
        <label>
            <input type="checkbox" name="category" value="Side"/>
            Side
        </label>
        <label>
            <input type="checkbox" name="category" value="Drink"/>
            Drink
        </label>
    </div>
    <h3>Price</h3>
    <div class="filter-price">
        <label>
            Min
            <input type="number" id="minimum-price" name="PriceMin" min="0" max="8.30" step=".1" placeholder="0"/>
        </label>
        <label>
            Max
            <input type="number" id="maximum-price" name="PriceMax" min="0" max="10" step=".1" placeholder="10"/>
        </label>
        <h3>Calories</h3>
        <div class="filter-calories">
            <label>
                Min
                <input type="number" id="minimum-price" name="CalMin" min="0" max="981" step="1" placeholder="0"/>
            </label>
            <label>
                Max
                <input type="number" id="maximum-price" name="CalMax" min="0" max="1000" step="1" placeholder="1000"/>
            </label>
        </div>
    </div>
</form>

<div class="menu-items">
    <h2> Entrees</h2>
    <div class="menu-items-entrees">
        @foreach (Entree entree in Model.Entree)
        {
        <div class="menu-item">
            <table>
                <tr>
                    <th colspan="2">
                        <h3>@entree.Name</h3>
                    </th>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>$@entree.Price</td>
                </tr>
                <tr>
                    <td>Calories</td>
                    <td>@entree.Calories</td>
                </tr>
            </table>
            <h3>@entree.Description</h3>
        </div>
        }
    </div>
    <br/>
    <br/>
    <h2>Sides</h2>
    <div class="menu-items-sides">
        @foreach (Side side in @Model.Side)
        {
        <div class="menu-item">
            <table>
                <tr>
                    <th colspan="2">
                        <h3>@side.Name</h3>
                    </th>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>$@side.Price</td>
                </tr>
                <tr>
                    <td>Calories</td>
                    <td>@side.Calories</td>
                </tr>
            </table>
            <h3>@side.Description</h3>
        </div>
        }
    </div>
    <br/>
    <br/>
    <h2>Drinks</h2>
    <div class="menu-items-drinks">
        @foreach (Drink d in @Model.Drink)
        {
            <div class="menu-item">
                <table>
                    <tr>
                        <th colspan="2">
                            <h3>@d.Name</h3>
                        </th>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>$@d.Price</td>
                    </tr>
                    <tr>
                        <td>Calories</td>
                        <td>@d.Calories</td>
                    </tr>
                </table>
                <h3>@d.Description</h3>
            </div>
        }
    </div>

    <br/>
    <br/>
    <h2>Combo</h2>
    <div class="menu-items-combo">
        <p>Any entree, side, and drink can be combined into a Combo for a $1 discount</p>
    </div>
</div>